# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/


# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Data
data/

# VS Code
.vscode/

# IDE
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

#
config.py